* {
  margin: 0;
  padding: 0;
}

:root {
  --headerBG:#6b9981;
  --bodyBG: #DAD7D2;
}


.display-none {
  display: none;
}

.App {
  text-align: center;
  
  height: 100vh;
  
}

#title {
  height: 5%;
  width: 100%;

  background-color: var(--bodyBG);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}

#title > h1 {
  font-size: 3vh;
}

/** children are left-display and right-display*/
#body {
    height: 100%;
    width: 100%;
    min-height:90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-color: var(--bodyBG);

    overflow-y: scroll;

}

#left-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90%;
  width: 400px;
  min-height: 50vh;
  min-width: 500;
  max-width: 50%;


}

#left-display-header {
  background-color: rgba(107, 153, 129, 0.29);
  width: 100%;
  height: 7vh;
  max-height: 100px;
  min-height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-size: 2.5vh;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#opening-name {
  font-size: 1.5vw;
  height: 50%;
  width: 100%;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

#opening-moves {
  font-size: 2vh;
  height: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#opening-buttons {
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: .5em;


}

.opening-btn {
  border: none;
  background-color: transparent;

  border: 1px solid black;
  padding: .5em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



#board {
  height: 400px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

#board-buttons {
  height:10vh;
  width: 100%;
  max-height: 100px;
  min-height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;



}

#board-buttons > button {
  border: none;
  font-size: 2.5vh;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
  height: 70%;
  width: 25%;
  max-width: 30%;


  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#board-buttons >button:hover {
  background-color: rgba(255,255,255,.5);
}

#right-display {
  margin-left: 2vw;
  width: 40%;
  height: 80vh;

  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#right-display-header {
  background-color: rgba(107, 153, 129, 0.29);
  font-size: 1.5vw;
  height: 10%;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#right-display-subheader {
  
  height: 8%;
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid black;
  background-color: rgba(107, 153, 129, 0.05);
  

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  
}

#right-display-subheader > button {
  width: 25%;
  height: 100%;
  border: none;
  font-size: 1.1vw;
  background-color: rgba(107, 153, 129, 0.05);


 



}

#right-display-subheader > button:hover {
  background-color: rgba(107, 153, 129, 0.29);

}


#right-display #login-button {
  width: 19%;
}

#right-display #flashcards-button {
  border-right: 1px solid black;
  width: 19%;
}

#right-display #explore-button {
  border-right: 1px solid black;
  width: 31%;
  
}

#right-display #search-button {
  border-right: 1px solid black;
  width: 31%;
}

.right-display-message-body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.flashcards-config {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid black;
  padding-left: 1em;

}

.flashcards-config-text {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
}

.flashcards-config-color-buttons {
  height: 75%;
  width: 80%;
  padding-left: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.config-button {
  width: 5vw;
  max-width: 25%;
  height: 60%;
}

.right-display-flashcards {
  height: 82%;
  width: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-display-flashcard {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.flashcard-name {
  height: 100%;
  width: 100%;
  font-size: 1.25vw;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: .5em;

}
.flashcard-moves {
  height: 100%;
  width: 50%;
  font-size: 1vw;
  padding-left: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right-display-message-body-noFlashcards {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.right-display-message-body-noFlashcards > h3 {
  width: 80%;
  font-size: 4vh;
  padding-bottom: 1em;
}
.right-display-message-body-noFlashcards > p {
  width: 80%;
  font-size: 3vh;
}

div > .app-description {
  height: 75%;
  width: 75%;
  font-size: 4.5vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div #get-started {
  font-size: 3.5vh;
}

.app-description p {
  padding-bottom: 10%;
}

div > .tech-stack {
  width: 75%;
  height: 25%;
  font-size: 2vh;
  margin-bottom: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 





@media (max-height: 600px) {
  #title {
    display: none;
  }
  #body {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  #App {
    height: 250vh;
    width: 100%;
  }
  #title {
    height: 5vh;
    width: 100%;
  }
  #body {
    height: 200vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  #left-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 95vh;
    width: 400px;
    min-width: 400px;
    min-height: 600px;

  }

  #left-display-header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 2px solid black;
  }


  #board {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  }

  #board-buttons {
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;

  }

  #right-display {
    width: 90vw;
    height: 100vh;
  }
}





