@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat&family=Unna&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


:root {
  --headerBG:#6b9981;
  --bodyBG: #DDD8C4;
}


.display-none {
  display: none;
}

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;

  
}

#title {
  height: 5%;
  width: 100%;


  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}

#title > h1 {
  font-size: 3vh;
}

/** children are left-display and right-display*/
#body {
  
    height: 100%;
    width: 100%;
    min-height:90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-color: var(--bodyBG);
    background-color: rgba(0, 0, 0, 0.24);


    overflow-y: scroll;

}

#left-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90%;
  width: 400px;
  min-height: 50vh;
  min-width: 500;
  max-width: 50%;


}

#left-display-header {
  background-color: rgba(107, 153, 129, 0.29);
  width: 100%;
  height: 7vh;
  max-height: 100px;
  min-height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-size: 2.5vh;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#opening-name {
  font-size: 1.5vw;
  height: 50%;
  width: 100%;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

#opening-moves {
  font-size: 2vh;
  height: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#opening-buttons {
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: .5em;


}

.opening-btn {
  border: none;
  background-color: transparent;

  border: 1px solid black;
  padding: .5em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



#board {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-top: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

#board-buttons {
  height:10vh;
  width: 100%;
  max-height: 100px;
  min-height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;



}

#board-buttons > button {
  border: none;
  font-size: 2.5vh;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
  height: 70%;
  width: 25%;
  max-width: 30%;
  margin: 0 0.5em;


  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#board-buttons >button:hover {
  background-color: rgba(255,255,255,.5);
}

#right-display {
  margin-left: 2vw;
  width: 40%;
  height: 80vh;

  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.right-display-body{
  width: 100%;
  height: 82%;
}

#right-display-header {
  background-color: rgba(107, 153, 129, 0.29);
  font-size: 1.5vw;
  height: 10%;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#right-display-subheader {
  
  height: 8%;
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid black;
  background-color: rgba(228, 230, 195, 0.29);
  

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  
}

#right-display-subheader > button {
  width: 25%;
  height: 100%;
  border: none;
  font-size: 1.1vw;
  background-color: rgba(107, 153, 129, 0.05);


 



}

#right-display-subheader > button:hover {
  background-color: rgba(107, 153, 129, 0.29);

}


#right-display #login-button {
  width: 19%;

}

#right-display #flashcards-button {
  border-right: 1px solid black;
  width: 19%;
}

#right-display #explore-button {
  border-right: 1px solid black;
  width: 31%;
  
}

#right-display #search-button {
  border-right: 1px solid black;
  width: 31%;
}

.color-text {
  color: green;
}

.flashcards-config {
  height: 20%;
  min-height: 20%;
  width: 90%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);




  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5em;

}

.config-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  height: 40%;
  width: 15%;
  font-size: 1em;
  border: 1px solid black;
  background-color: rgba(228, 230, 195, 0.29);
  margin-right: .75em;
}

.config-button {
  border: 1px solid black;
  width: 15%;
  max-width: 15%;
  min-height: 40%;
  max-height: 40%;
  height: 40%;
  margin-right: .25em;
  font-size: 1em;
  border-radius: 4px;
}

.flashcards {

  height: 96%;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: flex-start;
  align-items: center;
}

.right-display-flashcards {

  height: 96%;
  width: 100%;
  overflow-y: scroll;
  padding-top: .5em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-display-flashcard {
  height: 25%;
  min-height: 25%;
  width: 90%;
  margin-bottom: 2%;
  

  border: 1px solid rgba(255, 255,255, 0.3);
  border-radius: 4px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0.5em;
}

.flashcard-left {
  width: 85%;
  height: 100%;
  padding-right: .75em;
}
.flashcard-right {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flashcard-right > button {
  width: 100%;
  height: 50%;
  background-color: rgba(176, 65, 62, 0.5);
  border: 1px solid black;
  border-radius: 4px;
  font-size: .7em;
}
.flashcard-right > button:hover {
  background-color: rgba(176, 65, 62, 0.75);
}

.flashcard-name {
  height: 30%;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: .2em;
  padding-top: 1em;
  padding-bottom: .5em;


}
.flashcard-moves {

  height: 40%;
  width: 100%;
  font-size: .75em;
  padding-left: .5em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  overflow: scroll;

}

.user-profile-gui {
  height: 100%;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.profile-line {
  padding-bottom: .5em;
  padding-left: .5em;
}
.user-settings {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  height:25%;
  width: 100%;
  padding-top: .5em;
  font-size: 2.75vh;
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-settings {
  width: 50%;
  height:100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right-settings {
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-statistics {
  font-size: 2.25vh;
  height:20%;
  width: 100%;
  text-align: left;


  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;
}
.left-statistics {
  height: 100%;
  width: 50%;

  text-align: right;
  padding-right: 1.5em;
  border-right:1px solid rgba(0, 0, 0, 0.24);
}

.right-statistics {
  height: 100%;
  width: 50%;
  text-align: left;
  padding-left: 1.5em;
}

.bottom-statistics {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 1em;
}
.pie-chart-container {
  background-color: black;
  width: 50%;
  height: auto;
}


.registration-gui {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
}

.registration-gui > form {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;

}

.register-submit-button {
  width: 50%;
  height: 15%;
  padding-left: .5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.register-submit-button > button {
  height: 90%;
  width: 25%;
  border: none;
}

.register-submit-button > button:hover {
  background-color: rgba(107, 153, 129, 0.29);

}

.registration-gui > form > input {
  height: 15%;
  width: 50%;
  padding-left: 0.5em;
  background-color: rgba(107, 153, 129, .05);
  border: none;
  border: 1px solid black;
  border-radius: 4px;
}

.login-registration-gui {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.login-title {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 

}
.login-title > div {
  height: 25%;
}
.login-title >button {
  height: 15%;

  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.login-title >button:hover {
  background-color: rgba(107, 153, 129, 0.29);

}


.login-registration-gui-form {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.login-registration-gui-form > input {
  margin: 1em;
  border-radius: 3px;
  padding-left: .5em;
  height: 17%;
  width: 40%;
  border: 1px solid black;
  background-color: rgba(107, 153, 129, 0.05);

  
}

.login-registration-gui-form> button {
  border: none;
  height: 10%;
  width: 30%;
  
}
.login-registration-gui-form > button:hover {
  background-color: rgba(107, 153, 129, 0.29);

}

.right-display-message-body-noFlashcards {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.right-display-message-body-noFlashcards > h3 {
  width: 80%;
  font-size: 4vh;
  padding-bottom: 1em;
}
.right-display-message-body-noFlashcards > p {
  width: 80%;
  font-size: 3vh;
}

.app-description {
  height: 100%;
  width: 100%;
  font-size: 4.5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-description {
  height: 75%;
  width: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .95em;

}

#sign-in-message {
  padding-top:1em;
  font-size: .75em;
}

.tech-stack {
  height: 25%;
  width: 90%;
  font-size: .5em;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;
}


 
.search-openings {
  height: 100%;
  width: 100%;
}

.search-bar-container {
  height: 15%;
  width: 100%;

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.search-bar-form {
  width: 92.5%;
  height: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.search-bar-form > input {
  width: 90%;
  height: 95%;
  border: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 3px;
  padding-left: .5em;
  background-color: rgba(107, 153, 129, 0.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-bar-form > button {
  height: 80%;
  width: 18%;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.search-bar-form > button:hover {
  background-color: rgba(107, 153, 129, 0.19);


}

.search-results {
  height: 84.5%;
  width: 100%;
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


}

.search-result {
  height: 20%;
  min-height: 20%;
  width: 90%;
  margin-bottom: 2%;

  border: 1px solid rgba(255, 255,255, 0.3);
  border-radius: 5px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.search-result-name {
  width: 80%;
  text-align: left;
  padding-right: 0.5em;
}


.search-result > div {
  font-size: 2.5vh;
}
.search-result .search-result-button {
  width: 15%;
  height: 80%;
  
  font-size: 2vh;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(107, 153, 129, 0.05);
}
.search-result button:hover {
  background-color: rgba(107, 153, 129, 0.29);
}




@media (max-height: 600px) {
  #title {
    display: none;
  }
  #body {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  #App {
    height: 250vh;
    width: 100%;
  }
  #title {
    height: 5vh;
    width: 100%;
  }
  #body {
    height: 200vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  #left-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 95vh;
    width: 400px;
    min-width: 400px;
    min-height: 600px;

  }

  #left-display-header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;

    border: 2px solid black;
  }

  #opening-name {
    font-size: 2.5vw;
  }



  #right-display-subheader > button{
    font-size: 2vw;
  }

  #right-display-header {
    font-size: 3vw;
  }




  #board {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  }

  #board-buttons {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1vh;

  }

  #right-display {
    width: 90vw;
    height: 100vh;
  }

  .flashcard-name {
    height: 100%;
    width: 100%;
    font-size: 2.5vw;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5em;
  }

  .flashcard-moves {
    height: 100%;
    width: 50%;
    font-size: 2vw;
    padding-left: 1em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}





